<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/signin.css" rel="stylesheet">

    <title>Signin</title>
  </head>
  <body class="text-center">
    
    <main class="form-signin">
      <form action="/signin" method="POST">
        <h1 class="title"> Sign in</h1>

        <div class="form-floating">
          <input type="email" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        <button type="submit">Sign in</button>
      </form>
    </main>


    
  </body>
</html>